include README.md
include LICENSE
include pyproject.toml
include CITATION.cff

recursive-include src/proximitygraphs *.py
recursive-include tests *.py

prune docs
prune article
prune paper
prune .github
prune docs/build
prune docs/scripts

exclude .gitignore
exclude .readthedocs.yaml
exclude mkdocs.yml
exclude tox.ini
exclude uv.lock

global-exclude *.py[cod]
global-exclude __pycache__
global-exclude .DS_Store